<html>
  <head>
    <style type="text/css">
      /*span*/.monospaceFont {
        font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
        font-size: 12px;
      }
    </style>
    <script src="media/jquery-1.9.1.js"></script>
  </head>

  <body>
    <ul>
    {% for k, v in headers.items() %}
    <li><code class="monospaceFont">{{k}}:{{v}}</code></li>
    {% endfor %}
  </ul>
  <script type="text/javascript">
    var headers = {
      {% for k, v in headers.items() %}
      "{{k}}":"{{v}}",
      {% endfor %}
      'end':'end'
    };

    var sendMessage;
    sendMessage = function() {
      var args;
      args = [].slice.call(arguments);
      return alert(JSON.stringify(args));
    };

    // $(document).ready()
    $(document).ready(function() {
      sendMessage("headerbounce.ok", headers);
      sendMessage("headerbounce.done");
    });

  </script>
  </body>
  </html>
